<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>课程简介</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                &nbsp;&nbsp;本课程注重理论联系实际，强调工程控制观点，对学生提高和树立化工生产过程仪表及自动化控制的关键作用进而提高学生学习该课程的自觉性及学生学习能力的培养。<br/>                    
				&nbsp;&nbsp;课程任务是要求学生认识自动化仪表在过程自动化控制过程中的作用；熟悉和掌握电动单元组合式仪表和智能型仪表的变送器、调节器和执行器等工作原理、性能特点和使用中的有关问题；
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                &nbsp;&nbsp;了解和掌握现场总线控制系统中现场仪表的主要特点、基本结构、使用方法。通过学习使学生具备利用自动化仪表进行工业过程自动控制的基本思想和基本控制原理。<br/>   
				&nbsp;&nbsp;将理论变现实，并在实践中不断发现问题以致最终解决问题是实现工程目的，是学生综合能力的培养和教学水平提高的标志，也是师生共同的目标。
            </p>
        </div>
    </div>
</section>